# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: Node CI and Deploy to Docker & Packages

on:
  push:
    branches: [master]

jobs:
  test:
    name: Testing code before deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12
      - name: Clean install dependencies
        run: npm ci
        working-directory: ./server
      - name: Run Jest test suite
        run: npm test
        working-directory: ./server

  # push_to_registries:
  #   name: Push Docker image to multiple registries
  #   runs-on: ubuntu-latest
  #   permissions:
  #     packages: write
  #     contents: read
  #   steps:
  #     - name: Check out the repo
  #       uses: actions/checkout@v2
  #     - name: Push to Docker Hub
  #       uses: docker/build-push-action@v2
  #       with:
  #         username: ${{ secrets.DOCKER_USERNAME }}
  #         password: ${{ secrets.DOCKER_PASSWORD }}
  #         repository: dchancellor/url_shortener
  #         tag_with_ref: true
  #     - name: Push to GitHub Packages
  #       uses: docker/build-push-action@v2
  #       with:
  #         username: ${{ github.actor }}
  #         password: ${{ secrets.GITHUB_TOKEN }}
  #         registry: docker.pkg.github.com
  #         repository: dchancellor/url_shortener/url_shortener
  #         tag_with_ref: true
